<head>
    <title>My Angular App!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<div class = "userShowList">

  <ul class = "list-group">
    {{#listGroup}}
    <li class = "list-group-item showItem">
      <div class = "containerbox">
        <i class="w3-large material-icons trashcan">delete</i>
        <input class = "showCheckbox" type="checkbox" value=""></label>
        {{title}}
      </div>
    </li>
    {{/listGroup}}
  </ul>

</div>
